.j_section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-top: -12.2rem;
    &_wrapper_1 {
        &_img {
            position: absolute;
            height: 88vh;
            top: 4.1rem;
            left: 27rem;
            filter: blur(0.9rem);
        }
    }
    &_wrapper {
        &_img {
            position: absolute;
            height: 125vh;
            top: -4.9rem;
            right: 9rem;
            width: 53vw;
        }
    }
}